* {
	box-sizing: border-box;
}

ul,
ol,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	font-weight: 400;
	font-family: 'Montserrat', sans-serif;
	color: var(--text);
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
